
@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}


@model Models.ReservaModel

@{

    ViewBag.Title = "Editar";
    ViewBag.TitlePag = "Editar Reserva";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

  
}

@using (Html.BeginForm(FormMethod.Post))
{

    <div class="form-group">
        <label>Cliente:</label>
        @Html.TextBoxFor( model => model.idcliente,
        new { @class="form-control", @readonly = true })
    </div>

    <div class="form-group">
        <label>Habitaciones:</label>
        @Html.TextBoxFor( model => model.idhabitacion,
        new { @class="form-control", @readonly = true })
    </div>

    <div class="form-group">
        <label>Fecha ingreso</label>
        @Html.TextBoxFor( model => model.fecha,
       new  { @class="form-control", @readonly=true, @Value = Model.fecha.ToString("yyyy-MM-dd"), type = "date" })
    </div>

    <div class="form-group">
        <label>Fecha Salida</label>
        @Html.TextBoxFor( model => model.fechaout,
       new  { @class="form-control", @readonly = true, @Value = Model.fechaout.ToString("yyyy-MM-dd"), type = "date" })
    </div>

    <div class="form-group">
        <input class="btn btn-danger" type="submit" value="Borrar" />
    </div>
}

<p>
    @Html.ActionLink("Volver", "Index")
</p>
