
@model Models.ReservaModel

@{

    ViewBag.Title = "Eliminar";
    ViewBag.TitlePag = "Eliminar Reserva";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

  
}

@using (Html.BeginForm(FormMethod.Post))
{

    <div class="form-group">
        <label>Cliente:</label>
        @Html.TextBoxFor( model => model.NombreCliente,
        new { @class="form-control", @readonly = true })
    </div>

    <div class="form-group">
        <label>Habitación:</label>
        @Html.TextBoxFor( model => model.numhab,
        new { @class="form-control", @readonly = true })
    </div>

    <div class="form-group">
        <label>Fecha ingreso</label>
        @Html.TextBoxFor( model => model.fecha,
       new  { @class="form-control", @readonly=true, @Value = Model.fecha.ToString("yyyy-MM-dd"), type = "date" })
    </div>

    <div class="form-group">
        <label>Fecha Salida</label>
        @Html.TextBoxFor( model => model.fechaout,
       new  { @class="form-control", @readonly = true, @Value = Model.fechaout.ToString("yyyy-MM-dd"), type = "date" })
    </div>

    <div class="form-group text-center">
        <input class="btn btn-danger" type="submit" value="Borrar Reserva" />
    </div>
}

<p>
    @Html.ActionLink("Volver", "Index", new { }, new { @Class = "btn btn-info" })
</p>
