@model Models.ReservaModel

@{

    ViewBag.Title = "Editar";
    ViewBag.TitlePag = "Editar Reserva";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    var clientes = new List<SelectListItem>();
    clientes.Add(new SelectListItem() { Text = "Todos", Value = "" });
    foreach (var item in ViewBag.Clientes)
    {
        clientes.Add(new SelectListItem() { Text = item.texto, Value = item.valor });
    }

    var habitaciones = new List<SelectListItem>();
    habitaciones.Add(new SelectListItem() { Text = "Todass", Value = "" });
    foreach (var item in ViewBag.Habitaciones)
    {
        habitaciones.Add(new SelectListItem() { Text = item.texto, Value = item.valor });
    }
}

@using (Html.BeginForm(FormMethod.Post))
{

    <div class="form-group">
        <label>Cliente:</label>
        @Html.DropDownListFor( model => model.idcliente,
       (List<SelectListItem>) clientes,
        new { @class="form-control", @required = true })
    </div>

    <div class="form-group">
        <label>Habitaciones:</label>
        @Html.DropDownListFor( model => model.idhabitacion,
       (List<SelectListItem>)habitaciones,
        new { @class="form-control", @required = true })
    </div>

    <div class="form-group">
        <label>Fecha ingreso</label>
        @Html.TextBoxFor( model => model.fecha,
       new  { @class="form-control", @required=true, @Value = Model.fecha.ToString("yyyy-MM-dd"), type = "date" })
    </div>

    <div class="form-group">
        <label>Fecha Salida</label>
        @Html.TextBoxFor( model => model.fechaout,
       new  { @class="form-control", @required=true, @Value = Model.fechaout.ToString("yyyy-MM-dd"), type = "date" })
    </div>

    <div class="form-group">
        <input class="btn btn-info" type="submit" value="Grabar" />
    </div>
}

<p>
    @Html.ActionLink("Volver", "Index")
</p>