@model List<Models.ReservaModel>

@{
    ViewBag.Title = "Index";
    ViewBag.TitlePag = "Lista de reservas";

    Layout = "~/Views/Shared/_Plantilla.cshtml";
}

<p>
    @Html.ActionLink("Ingresar Nueva Reserva","Crear", new { } , new { @Class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th>Fecha checkin</th>
            <th>Num. día</th>
            <th>Fecha checkout</th>
            <th>Costo total</th>
            <th>Habitación</th>
            <th>Cliente</th>
            <th>Accion</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>@item.FechaInTxt</td>
            <td>@item.numdias</td>
            <td>@item.FechaOutTxt</td>
            <td>$ @item.total.ToString("N0")</td>
            <td>@item.NumValordia</td>
            <td>@item.NombreCliente</td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.idreserva }, new { @Class="btn btn-primary"})
                @Html.ActionLink("Eliminar ", "Borrar", new { id = item.idreserva }, new { @Class = "btn btn-danger" })
            </td>

        </tr>
        }
    </tbody>
</table>



