@model List<Models.PagoModel>
@{
    ViewBag.Title = "Index";
    ViewBag.TitlePag = "Lista Pagados";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}

<p>
    @Html.ActionLink("Realizar Nuevo Pago", "Crear", new { }, new { @Class = "btn btn-success" })
</p>


<table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Dias</th>
            <th>Total</th>
            <th>Monto Pagado</th>
            <th>Habitación</th>
            <th>Cliente</th>
            <th>Editar</th>
            <th>Borrar</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>@item.FechaInTxt</td>
            <td>@item.FechaOutTxt</td>
            <td>@item.numdias</td>
            <td>$ @item.total.ToString("N0")</td>
            <td>$ @item.montopago.ToString("N0")</td>
            <td>@item.NumValordia</td>
            <td>@item.NombreCliente</td>

            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.idpago }, new { @Class = "btn btn-primary" })
            </td>
            <td>
                @Html.ActionLink("Eliminar ", "Borrar", new { id = item.idpago }, new { @Class = "btn btn-danger" })
            </td>

        </tr>
        }
    </tbody>
</table>

